/**
Frontend lektion 03.
Författare: Viktor Hagtröm
Datum: 2020-12-02
*/

/**
Kommentarer i CSS skrivs på detta viset.
Nedan är exempel på CSS-regler.
*/
body{
   color: red; /*Detta sättet att skriva anses vara konvention*/
}